html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 20;
    overflow: hidden;
    background-color: red;
    height: 15vh;
}

form {
    display: flex;
    flex-direction: row;
}


a {
    display: block;
    color: black;
    padding: 5vh;
    font-family: verdana;
    font-size: 18px;
    text-decoration: none;
    float: left;
}

a:hover:not(.active) {
    background-color: white;
}

.background {
    display: flex;
    flex-direction: row;
    margin: 40px;
    justify-content: space-around;
}